$Cor: #29CC62;
$Cor2: #4285F4;
$Cor3: #00695c;

.velha{
    height: 170px; 
    border: 7px solid ;
    display: table; 
    border-color: #fff;
}

.velha span 
{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

i.Player-1{
    color: $Cor;
}
i.Player-2
{
    color: $Cor2;
}
div.Player-1
{
    background: $Cor;
}
div.Player-2
{
    background: $Cor2;
}

div .cores
{
    height: 50px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background: $Cor;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


@media only screen and (max-width: 435px) {
    .velha{
        height: 120px;
        border: 7px solid ;
        display: table; 
        border-color: #fff;
    }
    
}

span.placar{
    font-family:  'Roboto', sans-serif;
	font-weight: 100;
    font-size: 40px;
    color: #fff;
}

.Bold
{
    font-family:  'Roboto', sans-serif;
	font-weight: 500;
    font-size: 40px;
    color: #fff;
    
}