$Cor: #29CC62;
$Cor2: #4285F4;

.velha{
    height: 170px; 
    border: 7px solid ;
    display: table; 
    border-color: #00695c;
}

.velha span 
{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

i.Player-1{
    color: $Cor;
}
i.Player-2
{
    color: $Cor2;
}
div.Player-1
{
    background: $Cor;
}
div.Player-2
{
    background: $Cor2;
}

div .cores
{
    height: 50px;
}