//Definição das variáveis de cor
$Green: #29CC62;
$lightBlue: #4285F4;
$Orange: #e65100 ;

#score
{
    background:#fff;
    font-size: 20px;
    transition: .5 all;
    color: #212121;
    height: 50px;
}

//Estilização dos textos
span.Player
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    
}
//Texto de cor verde clara
.text-green-light
{
    color: $Green;
}
//Definição de cores para os jogadores
//Verde para Player1
i.Player-1
{
    color: $Green;
}
div.Player-1
{
    background: $Green;
}
span.Player-1
{
    background: $Green;
}
//Azul para Player2
i.Player-2
{
    color: $lightBlue;
}
div.Player-2
{
    background: $lightBlue;
}
span.Player-2
{
    background: $lightBlue;
}

//Definições gerais do placar
span.scoreboard{
    font-family:  'Roboto', sans-serif;
	font-weight: 100;
    font-size: 40px;
    color: #fff;
}

//Tipos de fonte
.Bold
{
	font-weight: 500;
}
.thin
{
	font-weight: 100;
}


//Cria o formato de chip
.chip {
    display: inline-block;
    padding: 0 10px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
}

//Muda o cursor
.pointer
{
    cursor: pointer;
}

//Centraliza o container de reset
#resetContainer {
    margin: 0;  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 }

 //Configurações da imagem de fundo
 div img.game-background{
    -webkit-filter: brightness(12%); 
    filter: brightness(12%);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  #turnScoreboard
  {
    margin: 0;  
    position: absolute;
    width: 20%;
  }

  //Tamanho do texto para a barra de navegação
  ul.nav span
  {
    font-size: 30px;
  }

  //Tamanho da fonte
  .fs15
  {
      font-size: 15px;
  }

  //Texto de cor laranja
  .orange-text
  {
      color: $Orange;
  }