<div class="container pt-5 pb-5 animated fadeInUp">
  <div class="row">
    <!-- Inicio do Tabuleiro -->
    <div *ngIf="!reset" class="col-12 col-sm-12 col-lg-7 col-xl-6 col-md-8 col-sm-12">
      <span class="placar"> <i class="fa animated flipInY" [ngClass]="{'fa-close Player-1': turn == 1,  'fa-circle-thin Player-2': turn == 2}"  aria-hidden="true"></i>  Joga </span>
      
      <!-- Primeira Linha -->
      <div class="row">
          
        <div class="col-4  border-left-0 border-top-0 velha" (click)="SetTrue(0,0)">
          <span>
            <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="0" [collumn]="0"></app-square>
          </span>
        </div>

        <div class="col-4 border-left-0 border-top-0 velha" (click)="SetTrue(0,1)">
          <span>
            <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="0" [collumn]="1"></app-square>
          </span>
        </div>

        <div class="col-4  border-left-0 border-right-0 border-top-0 velha" (click)="SetTrue(0,2)">
          <span>
            <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="0" [collumn]="2"></app-square>
          </span>
        </div>
      </div>
      <!-- Primeira Linha -->

      <!-- Segunda Linha -->
      <div class="row ">

          <div class="col-4 border-left-0 border-top-0 velha" (click)="SetTrue(1,0)">
            <span>
              <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="1" [collumn]="0"></app-square>
            </span>
          </div>
      
          <div class="col-4 border-left-0 border-top-0 velha" (click)="SetTrue(1,1)">
            <span>
              <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="1" [collumn]="1"></app-square>
            </span>
          </div>
      
          <div class="col-4  border-left-0 border-right-0 border-top-0 velha" (click)="SetTrue(1,2)">
            <span>
              <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="1" [collumn]="2"></app-square>
            </span>
          </div>
      </div>
      <!-- Segunda linha -->

      <!-- Terceira Linha -->
      <div class="row">

          <div class="col-4 border-left-0 border-top-0 border-bottom-0 velha" (click)="SetTrue(2,0)">
            <span>
              <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="2" [collumn]="0"></app-square>
            </span>
          </div>
      
          <div class="col-4  border-left-0 border-top-0 border-bottom-0 velha" (click)="SetTrue(2,1)">
            <span>
              <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="2" [collumn]="1"></app-square>
            </span>
          </div>
      
          <div class="col-4 border-left-0 border-right-0 border-top-0 border-bottom-0 velha animated fadeInLeft" (click)="SetTrue(2,2)">
            <span>
              <app-square [player]="player" [mainMatrix]="mainMatrix" [line]="2" [collumn]="2"></app-square>
            </span>
          </div>
      </div>
      <!-- !Terceira linha -->
    </div>

    <!-- Resete -->
    <div *ngIf="reset" class="col-12 col-sm-12 col-lg-7 col-xl-6 col-md-8 col-sm-12">
      <div class="row text-center">
        <!-- Resposta -->
        <div class="col-12">
            <span class="placar wow fadeInLeft text-center" data-wow-delay="0.9s"> {{status}}</span>       
        </div>
        <!-- Placar do Jogador 1 -->
        <div class="col-6 align-self-center pt-2 animated wow fadeInLeft" data-wow-delay="0.9s">
          <div class="chip Player-1 white-text z-depth-1">{{player1}}</div>
          <span class="placar">{{scoreboardPlayer1}}</span>
        </div>
        <!-- Placar do Jogador 2 -->    
        <div class="col-6 pt-2 animated wow fadeInLeft" data-wow-delay="0.9s">
          <div class="chip Player-2 white-text z-depth-1-half">{{player2}}</div>
          <span class="placar">{{scoreboardPlayer2}}</span>
        </div>

        <!-- Botão de reinicio -->
        <div class="col-12 text-center">
          <i class="fa fa-repeat fa-4x placar white-text animated pl-2" (click)="reset = !reset" (mouseover)="animate = !animate" [ngClass]="{'rotateIn': animate}" aria-hidden="true"></i>    
        </div>
      </div>
    </div>
    <!-- !Resete -->

    <!-- Controle da pontuação -->
    <div *ngIf="!reset" class="row align-items-center">
      <div class="col-12">

        <!-- Nome dos Jogadores -->
        <div class="col-12 align-self-center pt-2 animated wow fadeInLeft" data-wow-delay="0.9s">
          <div class="chip Player-1 white-text z-depth-1"> {{player1}}</div>
          <span class="placar pl-2 ">{{scoreboardPlayer1}} </span>                    
        </div>
            
        <div class="col-12 pt-2 animated wow fadeInLeft" data-wow-delay="0.9s">
          <div class="chip Player-2 white-text z-depth-1-half">{{player2}}</div>
          <span class="placar pl-2">{{scoreboardPlayer2}}</span>
        </div>
        <!-- !Nome dos Jogadores -->
      
      </div>
    </div>
    <!-- !Controle da pontuação -->
  </div>
</div>

