<!-- Inicia Container -->
<div class="container pt-3">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">

      <div class="card">
          <div class="card-header celero lighten-1 white-text">
              <i class="fas fa-users-cog pr-2" aria-hidden="true"></i>  Configuração Inicial
          </div>
          <div class="card-body">
              <h4 class="h4-responsive card-title text-c text-sm-center text-center text-md-left text-xl-left"> Informe o Nome dos Jogadores </h4>
                <!-- Começo da Linha -->
                <div class="row">
  
                    <!-- Recebe o Nome do Jogador1 -->
                    <div class="col-xl-6 col-md-6 col-12">
                      <div class="md-form">
                        <i class="fa fa-gamepad prefix"></i>
                        <input mdbInputDirective type="text" name="text" (keyup)="GetRandom()" [(ngModel)]="player1" data-success=" " data-error=" " id="Player1" class="form-control">
                        <label for="Player1" class="">Nome do Jogador*</label>
                      </div>
                    </div>
                
                    <!-- Recebe o Nome do Jogador2 -->
                    <div class="col-xl-6 col-md-6 col-12">
                        <div class="md-form">
                            <i class="fa fa-gamepad prefix"></i>
                            <input mdbInputDirective type="text" [disabled]="!player1" name="text" [(ngModel)]="player2" data-success=" " data-error=" " id="Player2" class="form-control">
                            <label for="Player2" class="">Nome do Jogador*</label>
                        </div>
                    </div>

                    <!-- Botão Inicial -->
                    <div class="col text-center pt-3">
                        <button [disabled]="!player2" type="button" (click)="Initiate()" class="btn primary-color waves-light" mdbWavesEffect>Iniciar<i class="fas fa-play pl-2" aria-hidden="true"></i></button>
                    </div>
  
                  </div>
                  <!-- Final da Linha -->
          </div>
      </div>

  </div>
  <!-- Card do Jogador 1 -->
    <div class="row align-items-center">
        <div class="col-xl-5 col-md-5 col-12">
            <div *ngIf="player1" class="pt-5">
                <div class="card animated fadeInLeft">
                    <div class="view hm-white-slight card-height waves-light" [ngClass]="{'celero': initialPlayer == 1 , 'primary-color': initialPlayer == 2 }" mdbWavesEffect></div>
                    <div class="card-body">
                        <h4 class="card-title">Jogador: <span [ngClass]="{'text-c': initialPlayer == 1 , 'blue-text': initialPlayer == 2 }" >{{player1}}</span> </h4>
                        <p>O jogador será representado por <i class="fa" [ngClass]="{'text-c': initialPlayer == 1, 'fa-close': initialPlayer == 1, 'fa-circle-thin': initialPlayer == 2, 'blue-text': initialPlayer == 2 }" aria-hidden="true"></i></p>
                        <small class="text-muted"><i class="fa fa-info-circle pr-1" aria-hidden="true"></i> O nome poderá ser alterado até o jogo ser iniciado   </small>
                    </div>
                </div>
            </div>
        </div>

      <!-- Vs -->
        <div class="col-2 col-md-2 col-12 pt-5 text-center ">
            <i *ngIf="player2 && player1" class="fa fa-close white-text fa-4x animated rotateIn text-center" aria-hidden="true"></i>
        </div>
        
    <!-- Card do jogador 2 -->
        <div class="col-xl-5 col-md-5 col-12">
            <div *ngIf="player2" class="pt-5">
                <div class="card animated fadeInUp">
                    <div class="view hm-white-slight card-height waves-light" [ngClass]="{'celero' : initialPlayer == 2, 'primary-color': initialPlayer == 1}" mdbWavesEffect></div>
                    <div class="card-body">
                        <h4 class="card-title">Jogador: <span [ngClass]="{'text-c' : initialPlayer == 2, 'blue-text': initialPlayer == 1}" >{{player2}}</span> </h4>
                        <p>O jogador será representado por <i class="fa" [ngClass]="{'text-c': initialPlayer == 2, 'fa-close': initialPlayer == 2, 'fa-circle-thin': initialPlayer == 1, 'blue-text': initialPlayer == 1 }" aria-hidden="true"></i></p>
                        <small class="text-muted"><i class="fa fa-info-circle pr-1" aria-hidden="true"></i> O nome poderá ser alterado até o jogo ser iniciado </small> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Final da Linha -->
    </div>
    
</div>
<!-- Finaliza O container -->




