<section>
    <div class="container">        
        <div class="row" id="players">
            <!-- Configuração Inicial -->
        
            <div class="col-md-6 pt-5 d-flex justify-content-center" id="initialConfig" >
                <div class="card">
                    <div class="card-header light-green-background lighten-1 white-text">
                        <i class="fas fa-users-cog pr-2" aria-hidden="true"></i>  Configuração Inicial
                    </div>
                    <!-- Corpo do card -->
                    <div class="card-body">
                        <!-- Começo da Linha -->
                        <div class="row">
                                    
                            <!-- Recebe o Nome do Jogador1 -->
                            <div class="col-12">
                                <div class="md-form">
                                    <i class="fa fa-gamepad prefix"></i>
                                    <input mdbInputDirective type="text" name="text" (keyup)="GetRandom()" [(ngModel)]="player1" data-success=" " data-error=" " id="Player1" class="form-control">
                                    <label for="Player1" class="">Nome do Jogador*</label>
                                </div>
                            </div>
                                                
                            <!-- Recebe o Nome do Jogador2 -->
                            <div class="col-12">
                                <div class="md-form">
                                    <i class="fa fa-gamepad prefix"></i>
                                    <input mdbInputDirective type="text" name="text" [disabled]="!player1" [(ngModel)]="player2" data-success=" " data-error=" " id="Player2" class="form-control">
                                    <label for="Player2" class="">Nome do Jogador*</label>
                                </div>
                            </div>
                                    
                        </div>
                        <!-- Final da Linha -->
                    </div>
                </div>
            </div>
            <!-- !Configuração Inicial -->
            
            <!-- Texto Inicial -->
            <div id="initialText" class="col-xl-6 col-md-6 col-12 pt-5 text-md-left" [@cardAnimation]="'in'">
                <div class="white-text">
                    <h1 class="display-4 white-text h1-responsive thin" >Seja <span class="Bold"> bem-vindo</span></h1>                               
                    <h6 class="h5-responsive">O jogo está pronto para iniciar:</h6>
                    <ul class="to-do-list text-md-left">
                        <li>Por favor insira o nome dos jogadores <i class="fas fa-users"></i> </li>
                        <li>Pressione o botão <i class="fas fa-play" aria-hidden="true"></i> </li>
                        <li>Tenha um bom jogo! <i class="fas fa-gamepad light-green-text"></i></li>
                    </ul>
                </div>
            </div>
            <!-- !Texto Inicial -->

        </div>
    </div>
    <!-- Meio Quadrado -->
    <div class="halfSquare"></div>
    <!-- !Meio Quadrado -->
</section>

<!-- Inicia Container de Cards-->
<div class="container pt-3">
  
    <div class="row align-items-center" >
        
        <!-- Jogador 1 -->
        <div *ngIf="player1" [@cardAnimation]="'in'" class="col-xl-5 col-md-5 col-12">
            <app-cards  [player]="1" [playerName]="player1" [initialPlayer]="initialPlayer"></app-cards>
        </div>
        <!-- !Jogador1 -->

        
        <!-- Botão de Inicio -->
        <div class="col-2 col-md-2 col-12 pt-5 text-center " *ngIf="player2 && player1" [@rotation]="'in'" >
            <i (click)="Initiate()" class="pointer fas fa-play text-light-green fa-4x animated rotateIn text-center" aria-hidden="true"></i>
        </div>
        
        <!-- Jogador 2 -->
        <div class="col-xl-5 col-md-5 col-12"  *ngIf="player2" [@cardAnimation]="'in'"  >
            <app-cards [player]="2" [playerName]="player2" [initialPlayer]="initialPlayer"></app-cards>
        </div>
        <!-- !Jogador 2 -->
    </div>
</div>
<!-- Finaliza O container -->




